:root {
  --color-uno: #757575;
  --color-dos: #212121;
  --color-tres: #ffffff;
  --color-webstudio: #2196f3;
  --color-service: #188ce8;
  --color-background: #2f303a;
  --color-info-down: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-uno);
}

/*header*/

.webstudio-up {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--color-webstudio);
}

.menu-nav {
  color: var(--color-dos);
}

.info-up {
  font-family: 'Roboto';
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.list-style {
  list-style-type: none;
}

.email-tel-up {
  color: var(--color-uno);
  text-decoration: none;
}

/*Titulo */
.tittle {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-tres);
}

.bg-title {
  font-family: 'Roboto';
  background: var(--color-background);
}

/*Boton Servicio*/
.service {
  font-size: 14px;
  line-height: 1.86;
  color: var(--color-tres);
  background: var(--color-service);
  border-radius: 4px;
}

/* a que nos dedicamos */
.dedicamos-team {
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--color-dos);
}
.caracteristicas {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-dos);
}
.habilidades {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-uno);
}

/* Nuestro equipo de trabajo*/

.colaboradores {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-dos);
}
.profesion {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-uno);
}

/* Filtros proyectos */
.filtros {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color-dos);
}

.todo-but {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color-dos);
  border-style: none;
  text-decoration: none;
}
.todo-but:hover,
:focus {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color-tres);
  background: var(--color-webstudio);
  border-style: none;
  text-decoration: none;
}

/* proyectos portafolio*/
.name-project {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-dos);
}

.type-project {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-uno);
}

/*Footer*/

.webstudio-down {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-webstudio);
  text-decoration: none;
}

.bg-footer {
  background: var(--color-background);
}

.info {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address {
  color: var(--color-tres);
}

.mail-tel-down {
  color: var(--color-info-down);
}

/**/

.link-button:hover,
:focus {
  color: var(--color-webstudio);
  cursor: pointer;
}

.link-button {
  border-style: none;
  text-decoration: none;
}
